
.game-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.game-view {
    height: 100%;
    width: auto;
}

@media (max-aspect-ratio: 19/10) {
    .game-view {
        height: auto;
        width: 100%;
    }
}