{
  "plugins": [
    "@babel/syntax-dynamic-import",
    "@babel/plugin-transform-arrow-functions"
  ],
  "presets": [
    ["@babel/preset-env", {
        "modules": false,
        {
            "targets": {
                "browsers": [
                    ">=1%",
                    "not ie 11",
                    "not op_mini all"
                ]
            },
        }
    ],
    ["@babel/preset-react", {"runtime": "automatic"}]
  ]
}